# Requirements file for Python environment

geopandas          # Spatial data wrangling
scipy              # Computations
scikit-learn       # Machine learning
matplotlib          # 2D plotting
seaborn            # Statistical data visualisation
keplergl          # Dashboarding with Kepler
dash                # Dashboarding with Dash
plotly             # Dashboarding with Plotly
folium            # Map visualisation
pysal               # Core spatial data structures
gdal              # Raster and vectorial data models conversion
shapely             # Spatial shapes and polygons
git+https://github.com/eratosio/eratos-xarray.git